.frame{
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.main_frame{
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.left_frame{

}

.middle_frame{

}

.right_frame{

}


