.frame{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:bisque;
}

.main_frame{
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    background-color: yellow;
}

.left_frame{
    position: absolute;
    width: 305px;
    height: 1315px;
    left: 0px;
    top: 0px;
    background-color: green;
}

.middle_frame{
    position: absolute;
    width: 971px;
    height: 463.09px;
    left: 339px;
    top: 3px;
    background-color: blue;
}

.right_frame{
    position: absolute;
    width: 108px;
    height: 1315px;
    left: 1332px;
    top: 0px;
    background-color: orange;
}


